


.noshadow{
  -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
nav ul a{
  color:#262626;
  font-family: avernir-heavy;
  letter-spacing: 1px;
  font-size: 10pt;
}
nav ul li:hover{
  background-color: #ffffff;
  background-image: url("../images/icon_3_arrow.png");
  background-position:left 15px bottom 10px;
  background-repeat:no-repeat;
}
.nav-wrapper.container{
  width: 100%;
  margin-top:40px;
}
.nav-wrapper .brand-logo img{
  width: 220px;
  height: 60px;
}
.content{
  width:1000px;
  margin-top:80px;

}
.content .col{
  padding:0px;
}
.content .grayblack{
  background-image: url("../images/image_column_1.png");
  height: 326px;
  width: 300px;
}
.grayblack p{
  font-family: avernir-heavy;
  color: #ffffff;

}
.grayblack .title{
  margin-top:50px;
  letter-spacing: 10px;

}
.grayblack .icon_arrow{
  display: block;
  margin-bottom:35px;
  text-align:center;
}
.grayblack .paragraph{
  width: 230px;
  margin: 0px auto;
  font-size: 13pt;
  font-family: avernir-roman;
}
.content .yellowpastel{
  background-image: url("../images/image_column_2.png");
  height: 326px;
}
.yellowpastel .city{
  font-family: avernir-heavy;
  color:#020202;
  margin-top:140px;
  margin-bottom: 0px;
  letter-spacing: 10px;
}
.yellowpastel .country{
  font-family: avernir-light;
  font-size:15pt;
  color:#020202;
  margin-top:0px;

}
.yellowpastel .button_container{
  width: 100%;
  text-align: center;
  vertical-align: middle;
  margin-top:35px;
  padding-top: 30px;

}
.yellowpastel .button{
  border-style: solid;
  border-width: 3px;
  border-color: #ffffff;
  border-radius: 5px;
  letter-spacing: 5px;
  width: 170px;
  height: 40px;
  padding: 10px;
  font-family: avernir-black;
  color: #ffffff;
  font-size: 10pt;
  text-align: center;
  vertical-align: middle;
}
.column_3 .row{
  margin:0px;
}

.row .graylight{
  display: block;
  background-image: url("../images/image_content_grey.png");
  background-repeat: no-repeat;
  background-size: 410px 100px;
  height: 100px;
}
.graylight h5{
  margin: 0px;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-family: museo500-regular;
  line-height: 100px;
}
.row.bluelight{
  display: block;
  background-image: url("../images/image_content_blue.png");
  background-repeat: no-repeat;
  background-size: 410px 226px;
  height: 226px;

}
.bluelight .avatar img{
  margin-top: 25px;
  margin-left:40px;
}
.bluelight .name{
  color:#010101;
  font-family: avernir-medium;
  margin-top:30px;
  margin-bottom: 5px;
}
.bluelight .title{
  margin-top: 5px;
  color:#ffffff;
  font-family: avernir-medium;
  letter-spacing: 10px;
}

.bluelight .description{
  color:#ffffff;
  font-family: avernir-heavy;
}
.scroll_down{
  width: 100%;
  display: inline-block;
  text-align: center;
  vertical-align: bottom;
  margin-top: 30px;
}
.scroll_down p{
  vertical-align: middle;
  color: #939393;
  font-family: avernir-heavy;
  display: inline;
}
.scroll_down img{
  display: inline;
  margin-left:20px;
  vertical-align: middle;
}
/*
  FOR CUSTOM FONT-FACE
*/
@font-face{
  font-family: avernir-heavy;
  src:url(../font/AvenirLTStd-Heavy.otf);
}
@font-face{
  font-family: avernir-roman;
  src:url(../font/AvenirLTStd-Roman.otf);
}
@font-face{
  font-family: avernir-light;
  src:url(../font/AvenirLTStd-Light.otf);
}
@font-face{
  font-family: avernir-medium;
  src:url(../font/AvenirLTStd-Medium.otf);
}
@font-face{
  font-family: museo500-regular;
  src:url(../font/Museo500-Regular.otf);
}
@font-face{
  font-family: avernir-black;
  src:url(../font/AvenirLTStd-Black.otf);
}
f
/*
  FOR CUSTOM FONT-FACE
*/
